In [49]:
import pandas as pd

In [55]:
df1 = pd.read_csv('ufo.csv')
df2 = pd.read_csv('Keyword_Alien.csv')

In [56]:
columns = ['Index','Title','IMDB_Rating','Movie_Description','Release_Date', 'Budget',\
              'Gross_US_Canada', 'Opening_Weekend_US_Canada', 'Gross_Worldwide']
df2.columns = columns
df2 = df2.drop('Index',1)
df2 = df2.drop('Movie_Description',1)
df2.head()

,Title,IMDB_Rating,Release_Date,Budget,Gross_US_Canada,Opening_Weekend_US_Canada,Gross_Worldwide
0,Don't Look Up,7.3,"December 24, 2021",NaN,NaN,NaN,"$782,826"
1,Dune,8.1,"October 22, 2021","$165,000,000 (estimated)","$107,249,263","$41,011,174","$396,149,263"
2,The Suicide Squad,7.2,"August 5, 2021","$185,000,000 (estimated)","$55,800,219","$26,205,415","$167,400,219"
3,Venom: Let There Be Carnage,6.0,"October 1, 2021",NaN,"$212,638,437","$90,033,210","$501,138,437"
4,Spider-Man: Far from Home,7.4,"July 2, 2019","$160,000,000 (estimated)","$390,532,085","$92,579,212","$1,131,927,996"

### UFO Data, manipulation and finding proper variables

In [17]:
df1.head()

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,11/20/2021 1:00,Willow,AK,Unknown,NaN,I told my son not to shoot it that it was bigg...,12/19/2021
1,10/29/2021 9:25,Soldotna,AK,Circle,3 minutes,Shiny metallic craft in morning sunlight,11/15/2021
2,10/29/2021 9:25,Soldotna,AK,Circle,3 minutes,Shiny metallic craft in morning sunlight.,11/15/2021
3,9/5/2021 23:00,Fairbanks,AK,Sphere,2 minutes,Fairbanks PD sees UFO,10/19/2021
4,3/17/2021 23:00,Chugiak,AK,Light,2 minutes,Blue lights in sky,3/31/2021

In [30]:
df2.head()

,Index,Title,IMDB_Rating,Movie_Description,Release_Date,Budget,Gross_US_Canada,Opening_Weekend_US_Canada,Gross_Worldwide
0,0,Don't Look Up,7.3,NaN,"December 24, 2021",NaN,NaN,NaN,"$782,826"
1,1,Dune,8.1,NaN,"October 22, 2021","$165,000,000 (estimated)","$107,249,263","$41,011,174","$396,149,263"
2,2,The Suicide Squad,7.2,NaN,"August 5, 2021","$185,000,000 (estimated)","$55,800,219","$26,205,415","$167,400,219"
3,3,Venom: Let There Be Carnage,6.0,NaN,"October 1, 2021",NaN,"$212,638,437","$90,033,210","$501,138,437"
4,4,Spider-Man: Far from Home,7.4,NaN,"July 2, 2019","$160,000,000 (estimated)","$390,532,085","$92,579,212","$1,131,927,996"

In [76]:
# Get count of reports for each day
df1['Posted'] = pd.to_datetime(df1['Posted'])
df1.sort_values(by='Posted')
df1.pivot_table(columns = ['Posted'],aggfunc = 'size')

Posted
2007-03-08      1
2007-11-28      1
2008-01-03      1
2008-06-12      1
2008-07-05      1
             ...
2021-10-19    361
2021-10-26     49
2021-10-27      1
2021-11-15    146
2021-12-19    321
Length: 811, dtype: int64

In [75]:
# Get days where an alien movie was released
releases = df2['Release_Date']
releases = releases.dropna()
releases = pd.to_datetime(releases)
releases.head(200)

0     2021-12-24
1     2021-10-22
2     2021-08-05
3     2021-10-01
4     2019-07-02
         ...
200   1986-11-21
201   1995-06-30
203   2019-03-15
204   1989-05-12
205   1984-03-02
Name: Release_Date, Length: 200, dtype: datetime64[ns]

In [ ]:
total_reports = len(df1)
# alien_movies = alien_movies_all[filter by $ Made / popularity stat]
# find daily count of reportings (order df by posted column, count movies in each cluster?)
# for years with more than 100 total reportings nation-wide
    # for each movie released that year in the alien_movies
        # prior_reportings = total # of reports in the 6 months prior to the date
        # post_reportings = total # of reports in the 6 months following the date
        # for each group, find sample average number of reports per day
        # two sample inference on prior/posterior H0: mu_post = mu_prior versus H1: mu_post > mu_prior
        # if post is significantly greater than prior, affected += 1

# Run one-tailed test on the affected variable 
    # (is portion of affected significantly different from 0.5?) p test, binomial (yes or no)
    # H0: p = 0.5 versus H1: p > 0.5
        
        
# Functions needed: